.select {
  position: relative;
  width: 200px;
  font-family: "Roboto", sans-serif;
  color: white;
}

.selectHeader {
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.icon {
  margin-right: 10px;
  font-size: 20px;
}

.selected {
  flex-grow: 1;
  font-size: 16px;
}

.arrow {
  font-size: 12px;
  color: #1e90ff;
}

.selectList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #1a1a1a;
  border-radius: 5px;
  margin-top: 5px;
  padding: 0;
  list-style: none;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.selectItem {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.selectItem:hover {
  background-color: #333;
}