@import '@vars';

.select {
  background-color: #fff;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  scrollbar-width: none;
}

.option {
  padding: 12px;
  cursor: pointer;
  font-size: 14px;
  color: var(--black);
  transition: $default-transition;

  &:hover {
    background-color: #e3e9eea3 !important;
  }
}