.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownButton {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  cursor: pointer;
  width: 100%;
  max-width: 250px;
  gap: 5px;
  width: 225px;

  & > p {
    font-size: 16px;
    font-weight: 600;
    color: var(--black);
  }
}

.arrowWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
}

.arrowDown {
  transition: transform 0.3s ease;
}

.select {
  position: absolute;
  top: 28px;
  // left: -104px;
  left: 0;
  width: 100%;
  max-width: 300px;
  z-index: 10;
  margin-top: 4px;
  width: 225px;
}
