.categoryBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(116.45deg, #0047ab 33.39%, #ffffff 89.1%);
  border-radius: 40px;
  margin-top: 25px;
  height: 380px;
  position: relative;

  .categoryBlockInner {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .text {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: var(--white);
      width: 300px;

      .title {
        font-size: 36px;
        font-weight: 600;
      }

      .description {
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
      }
    }
  }

  .shoppingCartIconStyles {
    position: absolute;
    top: -25px;
    left: 57%;
  }
  
}

.containerClassname {
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  padding: 8px 17px;
  width: 600px;

  .secondElementStyles {
    width: 90px;
    padding: 12px 20px;
    margin-left: auto;
  }

  .inputClassname {
    width: 100%;
  }
}
