@import "@vars";

.button {
  padding: 14px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: $default-transition;

  &:disabled {
    cursor: default !important;
    opacity: 0.5;
    &:hover { 
      opacity: 0.5;
    }
  }
}

.blue {
  background-color: $blue;
  text-align: center;
  color: $white;

  transition: $default-opacity;

  &:hover {
    opacity: 0.7;
  }
}

.gray {
  background-color: rgba(233, 233, 233, 1);
  // color: $default-white;

  &:hover {
    opacity: inherit;
  }
}

.cyan { 
  background-color: var(--gray);
  color: $black;

  &:hover {
    opacity: 0.7;
  }
}

.white { 
  background-color: var(--white);
  border-radius: 8px;
  color: var(--blue);
  font-size: 16px;
  font-weight: 400;
  transition: $default-transition;

  &:hover { 
    background-color: var(--blue);
    color: var(--white);
  }
}


.small {
  padding: 10px;
  font-size: 25px;
  border-radius: 30px;
}

.medium {
  padding: 18px 15px;
  font-size: 16px;
}

.round {
  background-color: rgba(255, 255, 255, 0.08);
  padding: 12px 16px;
  border-radius: 95px;
  color: rgba(177, 177, 177, 1);
  width: 60%;
  margin: 0 auto;
}
