.priceRangeFilter {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 100;
  top: 80px;
  width: 375px;
}

.inputs {
  display: flex;
  gap: 5px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-size: 14px;
  color: var(light-gray);
  font-weight: 600;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 160px;
  height: 40px;
  border-radius: 8px;
  text-align: center;
  background-color: #dfe9f2;

  &:focus {
    outline: none;
    border-color: #0066cc;
  }
}

.currency {
  position: absolute;
  right: 8px;
  color: #666;
  font-size: 14px;
}

.saveButton {
  margin-top: 8px;
  padding: 10px 20px;
  width: fit-content;
  margin: 0 auto;
}

.title {
  color: var(--black);
  font-size: 16px;
  font-weight: 600;
}
